class {
    onInput(input) {
        this.state = {
            images: input.images,
        };
    }
}
$ const { class: className, ...attrs } = input;

<div.image-container>
    <for|image, index| of=input.images>
        <figure.image-item>
        <img.image-item src=(image.urls.regular)>
        </figure>
    </for>
    <if(input.images.length === 0)>
        <h2>No results...</h2>
    </if>
</div>
