<main#main>
  <header.section.search>
    <app-search
      color=state.color
      query=state.query
      on-search-event("handleQuery")
      on-query-change("handleSearchChange")
    />
  </header>
  <section><app-images images=state.images/></section>
</main>
