<div#main>
  <header.section.header>
    <div.logo>Coloric</div>
    <app-search
      color=state.color
      query=state.query
      on-search-event("handleQuery")
      on-query-change("handleSearchChange")
    />
  </header>
  <section>
    <app-images images=state.images/>
  </section>
</div>
